tr{
	display: flex;
	justify-content:space-around;
	font-size: 24px;
}
input[type="radio"] {
	margin-left: 10px;
}
button{
	height: 60px;
	width: 250px;
	border: 2px solid black;
	font-family: Helvetica;
    font-size:22px;
	background-color: #cbfcae;
}